/* 標籤的基本樣式 */
body {
  letter-spacing: 0.05em;
}

img {
  max-width: 100%;
  height: auto;
}

a {
  display: inline-block;
  color: inherit;
}

a {
  color: #eadcff; // $primary-100
  transition: color 0.2s ease-in-out;

  &:hover {
    color: $primary-300 !important; // $primary-300
  }
}

// 2. 修正 Bootstrap .link-primary 的 hover 效果
.link-primary {
  color: $primary-200 !important;

  &:hover,
  &:focus {
    color: $primary-300 !important; // $primary-300
  }
}

.form-control {
  background-color: #ffffff;
  color: #100c24;
  border-color: transparent;

  // 統一所有 Placeholder 樣式
  &::placeholder {
    color: #909090 !important;
    opacity: 1; // 避免瀏覽器預設半透明遮罩
  }

  // 統一聚焦 (Focus) 樣式
  &:focus {
    background-color: #ffffff;
    color: #100c24;
    border-color: #d2b4fe;
    box-shadow: 0 0 0 0.25rem rgba(210, 180, 254, 0.25);
  }
}
